.banner{

    background-image: url('image/1234.jpg') ;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
 
}
a{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
button{
    font-family: 'Times New Roman', Times, serif;   
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 22px;
}
.d-flex  .btn-outline-light  .text-light:hover{
    text-decoration: black;

}


 
